.back_image{
  position: static;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;

	box-shadow: 0px 0px 3px 1px rgba(90,90,90,1);

}

.div_design_index{
  position: absolute;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 62%;
   margin-top: 16%;
   height: 50%;
   height:30%;
   background-repeat: no-repeat;
   background-size: cover;
  
}

.div_design_login{
  position: absolute;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 62%;
   margin-top: 15%;
   height:700%
  
}

.login_container{
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  

}

.btn_welcome{
  height: 35px;
  width: 162px;
  position: relative;
  display: inline-block;
  margin: 0;
  background-color: #fff;
  padding: 0.2rem 2.0rem;
  color: var(--color-secondary-900);
  font-family: inherit;
  font-size: 1.0rem;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  border: 0;
  border-radius: 0.4rem;
  box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
  background-size: contain;
  margin-top: 15px;
  position: absolute;
  justify-content: right;
  margin-left: 85%;
  border-radius: 15px;
  
}

.container{
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  width: 100%;
  height: 100%;
  background-size: cover;
  
}


.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 2.50;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1.0rem;
  padding: 1.0rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;

}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: #d6d6d6;
  border-radius: 0px 0px 10px 10px;
}

.navbarbut button{
  margin-left: 5px;
  border-radius: 5px;
}

.centerdiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.horizontalflexdiv{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-flow: wrap;
  justify-content: center;
}

.buttondiv{
  margin-top: 50px;
}

.content_login{

  position: absolute;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  margin-top: 12%;
  height: 50%;
	text-align: center;
	padding: 25px;
	border-radius: 8px;

	-webkit-box-shadow: 0px 0px 9px 2px rgba(90,90,90,1);
	-moz-box-shadow: 0px 0px 9px 2px rgba(90,90,90,1);
	box-shadow: 0px 0px 9px 2px rgba(90,90,90,1);

	/*clear: left;
	margin: auto !important;*/
}

.btn_login {
  position: relative;
  display: inline-block;
  margin: 0;
  background-color: #fff;
  padding: 0.5rem 2.2rem;
  color: var(--color-secondary-900);
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: normal;
  border: 0;
  border-radius: 0.4rem;
  box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: background 250ms, box-shadow 250ms;

}





